<div id="restaurants" class="container py-5">
  <% restaurants.each do |restaurant| %>
    <div class="card-body">
      <h5 class="card-title"><%= restaurant.name %></h5>
      <p class="card-text"><%= restaurant.address %></p>
      <div class="d-flex justify-content-between">
        <%= link_to "Show this restaurant", restaurant, class: "btn btn-info btn-sm" %>
        <%= link_to "Add review", new_restaurant_review_path(restaurant), class: "btn btn-success btn-sm" %>
      </div>
    </div>
  <% end %>
</div>
